
<div class="first-nav" >
    <nav class="navbar navbar-default" role="navigation">

        <!-- class="nav navbar-nav">
         <li class="nav-item active">
           <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Features</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Pricing</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">About</a>
         </li>
       </-->

        <ul class="nav" style="font-size: 18px">

            <% if (this.admin) { %>
            <li class="dropdown nav-item">
                <a href="/admin"><%= __('manager') %></a>
            </li>
            <% } %>


            <% if (typeof user !== 'object' && typeof admin !== 'object') { %>

            <li  style="float:right;">
                <a class="navbar-brand navbar-ymple" style="color:#42A5F5" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    <%= __('login') %>
                </a>

                <!--a href="/admin"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    <%= 'Back End' %>
                </a-->
            </li>
                <% } %>




                <% if (typeof user == 'object' && user && user.name) { %>



            <li  style="float:right;">

                <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>
                    user &nbsp;<%= user.name %></a>

                </li>


            <li style="float:right;">
                <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>
                    <%= 'Logout' %>
                </a>

                </li>

                <!--ul class="dropdown-menu" role="menu">



              <li class="dropdown-header"><%= __('User Menu') %></li>
              <% if (typeof user == 'object' && user.permission == 'ADMIN') { %>
              <li><a href="/admin"><%= __('Manager page') %></a></li>
              <% } %>
              <li><a href="/profile" id="edit-profile"><%= __('my page') %></a></li>
              <li class="divider"></li>

              <li class="dropdown nav-item">
                <a href="/admin/menu"><%= __('menu_manager') %></a>
              </li>

              <li><a href="/logout"><%= __('Log out') %></a></li>
            </ul-->

                <% } else { %>


            <!--li style="float:left;">
                <a class="navbar-brand navbar-ymple" href="/install" style="color: forestgreen;">First Installation</a>
            </li-->

            <%}%>

            <% if ('admin' == 'admin') { %>

            <!--li>

              <a class="navbar-brand" href="/admin/menu"><i class="fa fa-fw fa-lg fa-cog"></i>Menu Admin <strong class="caret"></strong>
              </a>

            </li-->

            <% } %>
            <li style="float:right;">
                    <span class="navbar-brand navbar-ymple" style="color:#42A5F5">
                        <i class="fa fa-phone">
                        </i>
                        <span class="nav-span">9566339965</span>
                    </span>
             </li>
            <li style="float:right;">
                    <span class="navbar-brand navbar-ymple" style="color:#42A5F5">
                        <i class="fa fa-envelope">
                        </i>
                        <span class="nav-span">sales@nayamproducts.com</span>
                    </span>
                
            </li>
            <% if(isShowHomeButton) {%>
                <li style="float:left;">
                        <a class="navbar-ymple" href="/" style="color: #42A5F5;">
                            <i class="fa fa-fw fa-home" aria-hidden="true"></i> <%= sails.config.project.name %>
                        </a>
                    </li>
            <% } %>
            <% if (typeof showSearchMenu == 'number' && showSearchMenu == 1) { %>

            <li  style="float:right;">

            <form class="form-inline pull-xs-right navbar-form" role="search">
                <div class="input-group">  
                    <input class="form-control" type="text" name="name" placeholder="<%= __('Enter a product name') %>">
                    <span class="input-group-btn">
                        <button class="btn btn-success-outline" type="submit"><%= __('Search') %></button>&nbsp;&nbsp;
                    </span>
                </div> 
            </form>
            </li>

            <% } %>
        </ul>

    </nav>
</div>